.xterm-overlay {
    font-family: "Berkeley Mono", Courier, monospace;
    border-radius: 15px;
    font-size: xx-large;
    text-transform: uppercase;
    color: #302c2b;
    background: #d0c4a8;
    opacity: 0.75;
    padding: 0.2em 0.5em 0.2em 0.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    transition: opacity 180ms ease-in;
}

.xterm-viewport {
    scrollbar-width: thin;
    scrollbar-color: #302c2b #747063;
}

.xterm-viewport::-webkit-scrollbar {
    width: 8px;
}

.xterm-viewport::-webkit-scrollbar-track {
    background: #302c2b;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background-color: #747063;
    border-radius: 10px;
    border: 2px solid #747063;
}


