.terminal {
    font-family: "Berkeley Mono", Courier, monospace;
    font-size: 13px;
}

.xterm-overlay {
    font-family: "Berkeley Mono", Courier, monospace;
    border-radius: 15px;
    font-size: xx-large;
    text-transform: uppercase;
    color: white;
    background: #66654b;
    opacity: 0.75;
    padding: 0.2em 0.5em 0.2em 0.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    transition: opacity 180ms ease-in;
}
